* {
  padding: 0;
  margin: 0;
}
body {
  display: inline;
  background-color: rgb(240, 239, 240);
  font-family: Roboto;
  font-size: small;
  width: fit-content;
  height: fit-content;
}
h1 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50%;
}
.topnav {
  display: inline-block;
  vertical-align: middle;
  color: black;
  margin-left: ;
}
a {
  color: rgb(135, 30, 30);
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
}
